

footer p a { /*isso é pra link*/
    margin: 5px 15px;
    color: #0a0a0a;
    text-decoration: nome;
    font-weight: bold;
    

}

a:link,a:visited{
    text-decoration: none;

  }

  

#home{  /* esta na index */
    color: rgb(255, 255, 255);
    background:  #1577f6 ;

}


#telaLogin{ /* esta no cadastro e entra */
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 5px 30px rgb(37, 37, 37);/*senbreado*/
}




.caixa{ /*esta na index e no recurso*/
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;/*liha*/
}

.center{
    text-align:center; /* esta no recurços */

}
    
.recurso{/* esta no recurços */
    text-align: center;
    padding: 10px;
}



.espaço{
    padding: 15px; /* esta no beneficios */
}


#icon{ /* esta no entra */
    position: absolute;
    top: 36%;
    right: 30px;
    transform: translateY(-50%);
    background: url(../img/mostra.jpeg);
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#icon.esconder{ /* esta no entra */
    background: url(../img/esconder.jpeg);
    background-size: cover;

}